.title {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

.content-text {
  margin: 1rem 0;
}

.buttons-container {
  width: 100%;
  margin-top: 1.5rem;
  .button-confirm {
    margin-left: 1.5rem;
  }
}

