:host {
    .projects-wrp {
        padding: 0 1.5rem;
        border: 1px solid red;


        .filter {
            width: 100%;
        }


        table {
        // width: 100%;
        }
    }
}