@import "variables";

.left-sidebar {
    width: 18rem;
    border-right: 1px solid $color-gray-light;
    box-shadow: 1px 0 4px rgba($color-gray-light, .5);
    background-color: $color-concrete;
}

.mat-drawer-container {
    background-color: transparent;
}

.content-wrapper {
    position: relative;
}

.container {
    height: 100%;
    overflow: hidden;
}
