<div class="container" fxLayout="column nowrap">
    <app-header></app-header>
    <mat-sidenav-container fxFlex="1 1 auto">
        <!-- left side navigation -->
        <mat-sidenav class="left-sidebar" mode="side" opened>
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <!-- main content -->
        <mat-sidenav-content >
            <!-- top toolbar -->
            <!-- top toolbar componet comes here -->
            <!--  page content -->
            <div fxLayout="column" fxFlex="nogrow noshrink" class="content-wrapper portal-content-bg">
                <div fxFlex="1 0 100%" class="app-content" >
                    <router-outlet></router-outlet>
                    <!-- loader comes here -->
                </div>
            </div>
            <!-- footer -->
            <!-- footer component comes here -->
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
