<mat-toolbar class="bread-crumbs">
  <mat-toolbar-row>
    <a routerLink="../..">{{'project.interiors' | translate}}</a>
    <span class="separation"> / </span>
    <a>
      <span>{{ projectId === 'new' ? ('project.new_project' | translate) : ('project.edit_project' | translate) }}</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<form class="project-form" [formGroup]="projectForm" (keydown.enter)="$event.preventDefault()" novalidate>

  <div class="form-content" fxLayout="row nowrap" fxLayoutAlign="space-between start">
    <div class="column" fxLayout="column" fxLayoutAlign="start start" fxFlex>

      <mat-form-field class="row">
        <input matInput formControlName="square" [placeholder]="'project.square' | translate" />
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="year" [placeholder]="'project.year' | translate" />
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="factoryWebLink" [placeholder]="'project.factor_Web_link' | translate" />
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>{{ 'project.categories' | translate }}</mat-label>
        <mat-select formControlName="categories" multiple >
          <mat-option *ngFor="let category of categoriesList" [value]="category.id">
            {{category.title | translate}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('categories', 'required')">
          {{ "general.field_required" | translate }}
        </mat-error>
      </mat-form-field>

      <!-- <mat-form-field class="row">
        <input matInput formControlName="name" [placeholder]="'content_management.brand_name' | translate" />
        <mat-error *ngIf="hasError('name', 'required')">
          {{ "general.field_required" | translate }}
        </mat-error>
      </mat-form-field> -->


      <!-- <div class="row text-editor">
        <div class="label">
          {{'content_management.description' | translate}}
        </div>
        <quill-editor [styles]="{height: '200px'}" formControlName="description"></quill-editor>
        <mat-error class="editor-error" *ngIf="hasError('description', 'required')">
          {{ "general.field_required" | translate }}
        </mat-error>
      </div> -->

      <!-- <div class="row text-editor">
        <div class="label">
          {{'content_management.term_and_conditions' | translate}}
        </div>
        <quill-editor [styles]="{height: '200px'}" formControlName="termsAndConditions"></quill-editor>
        <mat-error class="editor-error" *ngIf="hasError('termsAndConditions', 'required')">
          {{ "general.field_required" | translate }}
        </mat-error>
      </div> -->
    </div>

    <div class="column" fxLayout="column" fxLayoutAlign="start start" fxFlex>
      <!-- <mat-form-field class="row">
        <input matInput formControlName="websiteUrl" [placeholder]="'content_management.web_site' | translate" />
        <mat-error *ngIf="hasError('websiteUrl', 'required')">
          {{ "general.field_required" | translate }}
        </mat-error>
      </mat-form-field> -->

      <!-- <div class="row text-editor">
        <div class="label">
          {{'content_management.check_gift_card_value_explanation' | translate}}
        </div>
        <quill-editor [styles]="{height: '200px'}" formControlName="balanceCheckInstructions">
        </quill-editor>
        <mat-error class="editor-error" *ngIf="hasError('balanceCheckInstructions', 'required')">
          {{ "general.field_required" | translate }}
        </mat-error>
      </div> -->
    </div>

    <div class="column" fxLayout="column" fxLayoutAlign="start start" fxFlex>
      <!-- <mat-form-field class="row">
        <input matInput formControlName="discountPercentage" [placeholder]="'content_management.primary_discount' | translate" />
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="status" [placeholder]="'content_management.status' | translate" />
      </mat-form-field>

      <mat-form-field class="row">
        <input matInput formControlName="retailers" [placeholder]="'content_management.retailers' | translate" />
      </mat-form-field> -->

      <div class="buttons-container" fxLayout="row nowrap" fxLayoutAlign="end center">
        <button *ngIf="projectId && projectId === 'new'" mat-raised-button type="button" (click)="deleteProject()">
            {{ "general.delete" | translate }}
        </button>

        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="projectForm.invalid">
          {{ "general.save" | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="spinner-wrapper" *ngIf="isLoading">
    <mat-spinner diameter="75"></mat-spinner>
  </div>
</form>
