@mixin admin-typography() {
    html {
        height: 100%;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -webkit-size-text-adjust: 100%;
        font-kerning: auto; 
    }

    body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: Roboto, sans-serif;
    }
}