$color-white: #fff;
$color-concrete: #f7f7f7;
$color-gray: #848484;
$color-gray-light: #e0e0e0;
$color-black: #000000;
$color-error: #f44336;
$color-blue: #2183bf;
$color-curulean: #00b2d9;
$color-green: #4ed77c;
$color-warning: #e08a32;
$color-invalid: #f44336;

$set-color-primary: $color-blue;
$set-color-secondary: $color-curulean;
$set-color-success: $color-green;

$base-vert-padd: 0.4rem;
$base-horiz-padd: 1rem;
